.recommendedTitle {
  flex: 0.9;
  position: sticky;
  top: 70px;
  z-index: 100;
}

.recommendedTitle__titles {
  display: flex;
  background: white;
  width: calc(100vw - 10vw );
  align-items: center;
  overflow: scroll;
  padding: 10px 0px 10px 0px;
}

.recommendedTitle__titles::-webkit-scrollbar {
  height: 0;
}