.recommendedTitle {
  flex: 0.9;
  position: sticky;
  top: 0;
}

.recommendedTitle__titles {
  display: flex;
  width: calc(100vw - 10vw);
  align-items: center;
  overflow: scroll;
  margin: 10px 0px 10px 0px;
}

.recommendedTitle__titles::-webkit-scrollbar {
  height: 0;
}