.sidebarRowFull{
    flex: 1px;
    width: calc(100vw - 80vw);
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%;
}
.sidebarRowFull:hover{
    border-radius: 10px;
    background: lightgray;
 }
.sidebarRowFull > h4{
    font-size: 20px;
    margin:5px 10px;
    padding:0px 10px;
}
.sidebarRowFull__icon{
    padding: 10px;
}